:root {
  --fq6jnz0: 1px;
  --fq6jnz1: 2px;
  --fq6jnz2: 4px;
  --fq6jnz3: 8px;
  --fq6jnz4: 16px;
  --fq6jnz5: #fff;
  --fq6jnz6: #DBEAFE;
  --fq6jnz7: #F9FAFB;
  --fq6jnz8: #E5E7EB;
  --fq6jnz9: #D1D5DB;
  --fq6jnza: #9CA3AF;
  --fq6jnzb: #6B7280;
  --fq6jnzc: #374151;
  --fq6jnzd: #1F2937;
  --fq6jnze: #111827;
  --fq6jnzf: 99999px;
  --fq6jnzg: Arial, Helvetica, sans-serif;
  --fq6jnzh: 6px;
  --fq6jnzi: 9px;
  --fq6jnzj: 12px;
  --fq6jnzk: 16px;
  --fq6jnzl: 24px;
  --fq6jnzm: 10px;
  --fq6jnzn: 11px;
  --fq6jnzo: 12px;
  --fq6jnzp: 13px;
  --fq6jnzq: 14px;
  --fq6jnzr: 15px;
}
.if4mny0 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fq6jnzb);
  background-color: var(--fq6jnze);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  font-size: var(--fq6jnzj);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#canvas-engine-devtools * {
  scrollbar-width: thin;
}
#canvas-engine-devtools.enable-outline *:focus {
  outline-color: var(--fq6jnz6);
  outline-width: 2px;
  outline-style: solid;
}
._1lbq81t0 {
  display: flex;
  flex: 1;
  max-width: 100%;
}
._1lbq81t1 {
  display: flex;
  flex-direction: column;
  width: 150px;
}
._1lbq81t2 {
  padding: 2px 1px 2px 2px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
._1lbq81t3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
._1lbq81t4 {
  border-style: solid;
  border-width: 1px;
  border-color: var(--fq6jnz6);
}
._1lbq81t5 {
  padding-left: 4px;
}
._1lbq81t6 {
  border-style: solid;
  border-width: 2px;
  border-color: var(--fq6jnz6);
}
.ox3xql0 {
  color: var(--fq6jnz9);
}
.ox3xql1 {
  display: none;
}
.ox3xql3 {
  display: flex;
}
.ox3xql5 {
  flex-direction: row;
}
.ox3xql7 {
  flex-direction: column;
}
.ox3xql9 {
  align-items: flex-start;
}
.ox3xqlb {
  align-items: center;
}
.ox3xqld {
  align-items: flex-end;
}
.ox3xqlf {
  justify-content: flex-start;
}
.ox3xqlh {
  justify-content: center;
}
.ox3xqlj {
  justify-content: flex-end;
}
.ox3xqll {
  justify-content: space-between;
}
.ox3xqln {
  flex: 1;
}
.ox3xqlp {
  flex: 2;
}
.ox3xqlr {
  padding-top: var(--fq6jnz0);
}
.ox3xqlt {
  padding-top: var(--fq6jnz1);
}
.ox3xqlv {
  padding-top: var(--fq6jnz2);
}
.ox3xqlx {
  padding-top: var(--fq6jnz3);
}
.ox3xqlz {
  padding-top: var(--fq6jnz4);
}
.ox3xql11 {
  padding-bottom: var(--fq6jnz0);
}
.ox3xql13 {
  padding-bottom: var(--fq6jnz1);
}
.ox3xql15 {
  padding-bottom: var(--fq6jnz2);
}
.ox3xql17 {
  padding-bottom: var(--fq6jnz3);
}
.ox3xql19 {
  padding-bottom: var(--fq6jnz4);
}
.ox3xql1b {
  padding-left: var(--fq6jnz0);
}
.ox3xql1d {
  padding-left: var(--fq6jnz1);
}
.ox3xql1f {
  padding-left: var(--fq6jnz2);
}
.ox3xql1h {
  padding-left: var(--fq6jnz3);
}
.ox3xql1j {
  padding-left: var(--fq6jnz4);
}
.ox3xql1l {
  padding-right: var(--fq6jnz0);
}
.ox3xql1n {
  padding-right: var(--fq6jnz1);
}
.ox3xql1p {
  padding-right: var(--fq6jnz2);
}
.ox3xql1r {
  padding-right: var(--fq6jnz3);
}
.ox3xql1t {
  padding-right: var(--fq6jnz4);
}
.ox3xql1v {
  margin-top: var(--fq6jnz0);
}
.ox3xql1x {
  margin-top: var(--fq6jnz1);
}
.ox3xql1z {
  margin-top: var(--fq6jnz2);
}
.ox3xql21 {
  margin-top: var(--fq6jnz3);
}
.ox3xql23 {
  margin-top: var(--fq6jnz4);
}
.ox3xql25 {
  margin-bottom: var(--fq6jnz0);
}
.ox3xql27 {
  margin-bottom: var(--fq6jnz1);
}
.ox3xql29 {
  margin-bottom: var(--fq6jnz2);
}
.ox3xql2b {
  margin-bottom: var(--fq6jnz3);
}
.ox3xql2d {
  margin-bottom: var(--fq6jnz4);
}
.ox3xql2f {
  margin-left: var(--fq6jnz0);
}
.ox3xql2h {
  margin-left: var(--fq6jnz1);
}
.ox3xql2j {
  margin-left: var(--fq6jnz2);
}
.ox3xql2l {
  margin-left: var(--fq6jnz3);
}
.ox3xql2n {
  margin-left: var(--fq6jnz4);
}
.ox3xql2p {
  margin-right: var(--fq6jnz0);
}
.ox3xql2r {
  margin-right: var(--fq6jnz1);
}
.ox3xql2t {
  margin-right: var(--fq6jnz2);
}
.ox3xql2v {
  margin-right: var(--fq6jnz3);
}
.ox3xql2x {
  margin-right: var(--fq6jnz4);
}
.ox3xql2z {
  width: 100%;
}
.ox3xql31 {
  height: 100%;
}
.ox3xql33 {
  font-size: var(--fq6jnzh);
}
.ox3xql35 {
  font-size: var(--fq6jnzi);
}
.ox3xql37 {
  font-size: var(--fq6jnzj);
}
.ox3xql39 {
  font-size: var(--fq6jnzk);
}
.ox3xql3b {
  font-size: var(--fq6jnzl);
}
.ox3xql3d {
  text-align: left;
}
.ox3xql3f {
  text-align: center;
}
.ox3xql3h {
  color: var(--fq6jnz5);
}
.ox3xql3i {
  color: var(--fq6jnz6);
}
.ox3xql3j {
  color: var(--fq6jnz7);
}
.ox3xql3k {
  color: var(--fq6jnz8);
}
.ox3xql3l {
  color: var(--fq6jnz9);
}
.ox3xql3m {
  color: var(--fq6jnza);
}
.ox3xql3n {
  color: var(--fq6jnzb);
}
.ox3xql3o {
  color: var(--fq6jnzc);
}
.ox3xql3p {
  color: var(--fq6jnzd);
}
.ox3xql3q {
  color: var(--fq6jnze);
}
.ox3xql3r {
  background: var(--fq6jnz5);
}
.ox3xql3s {
  background: var(--fq6jnz6);
}
.ox3xql3t {
  background: var(--fq6jnz7);
}
.ox3xql3u {
  background: var(--fq6jnz8);
}
.ox3xql3v {
  background: var(--fq6jnz9);
}
.ox3xql3w {
  background: var(--fq6jnza);
}
.ox3xql3x {
  background: var(--fq6jnzb);
}
.ox3xql3y {
  background: var(--fq6jnzc);
}
.ox3xql3z {
  background: var(--fq6jnzd);
}
.ox3xql40 {
  background: var(--fq6jnze);
}
@media screen and (min-width: 1024px) {
  .ox3xql2 {
    display: none;
  }
  .ox3xql4 {
    display: flex;
  }
  .ox3xql6 {
    flex-direction: row;
  }
  .ox3xql8 {
    flex-direction: column;
  }
  .ox3xqla {
    align-items: flex-start;
  }
  .ox3xqlc {
    align-items: center;
  }
  .ox3xqle {
    align-items: flex-end;
  }
  .ox3xqlg {
    justify-content: flex-start;
  }
  .ox3xqli {
    justify-content: center;
  }
  .ox3xqlk {
    justify-content: flex-end;
  }
  .ox3xqlm {
    justify-content: space-between;
  }
  .ox3xqlo {
    flex: 1;
  }
  .ox3xqlq {
    flex: 2;
  }
  .ox3xqls {
    padding-top: var(--fq6jnz0);
  }
  .ox3xqlu {
    padding-top: var(--fq6jnz1);
  }
  .ox3xqlw {
    padding-top: var(--fq6jnz2);
  }
  .ox3xqly {
    padding-top: var(--fq6jnz3);
  }
  .ox3xql10 {
    padding-top: var(--fq6jnz4);
  }
  .ox3xql12 {
    padding-bottom: var(--fq6jnz0);
  }
  .ox3xql14 {
    padding-bottom: var(--fq6jnz1);
  }
  .ox3xql16 {
    padding-bottom: var(--fq6jnz2);
  }
  .ox3xql18 {
    padding-bottom: var(--fq6jnz3);
  }
  .ox3xql1a {
    padding-bottom: var(--fq6jnz4);
  }
  .ox3xql1c {
    padding-left: var(--fq6jnz0);
  }
  .ox3xql1e {
    padding-left: var(--fq6jnz1);
  }
  .ox3xql1g {
    padding-left: var(--fq6jnz2);
  }
  .ox3xql1i {
    padding-left: var(--fq6jnz3);
  }
  .ox3xql1k {
    padding-left: var(--fq6jnz4);
  }
  .ox3xql1m {
    padding-right: var(--fq6jnz0);
  }
  .ox3xql1o {
    padding-right: var(--fq6jnz1);
  }
  .ox3xql1q {
    padding-right: var(--fq6jnz2);
  }
  .ox3xql1s {
    padding-right: var(--fq6jnz3);
  }
  .ox3xql1u {
    padding-right: var(--fq6jnz4);
  }
  .ox3xql1w {
    margin-top: var(--fq6jnz0);
  }
  .ox3xql1y {
    margin-top: var(--fq6jnz1);
  }
  .ox3xql20 {
    margin-top: var(--fq6jnz2);
  }
  .ox3xql22 {
    margin-top: var(--fq6jnz3);
  }
  .ox3xql24 {
    margin-top: var(--fq6jnz4);
  }
  .ox3xql26 {
    margin-bottom: var(--fq6jnz0);
  }
  .ox3xql28 {
    margin-bottom: var(--fq6jnz1);
  }
  .ox3xql2a {
    margin-bottom: var(--fq6jnz2);
  }
  .ox3xql2c {
    margin-bottom: var(--fq6jnz3);
  }
  .ox3xql2e {
    margin-bottom: var(--fq6jnz4);
  }
  .ox3xql2g {
    margin-left: var(--fq6jnz0);
  }
  .ox3xql2i {
    margin-left: var(--fq6jnz1);
  }
  .ox3xql2k {
    margin-left: var(--fq6jnz2);
  }
  .ox3xql2m {
    margin-left: var(--fq6jnz3);
  }
  .ox3xql2o {
    margin-left: var(--fq6jnz4);
  }
  .ox3xql2q {
    margin-right: var(--fq6jnz0);
  }
  .ox3xql2s {
    margin-right: var(--fq6jnz1);
  }
  .ox3xql2u {
    margin-right: var(--fq6jnz2);
  }
  .ox3xql2w {
    margin-right: var(--fq6jnz3);
  }
  .ox3xql2y {
    margin-right: var(--fq6jnz4);
  }
  .ox3xql30 {
    width: 100%;
  }
  .ox3xql32 {
    height: 100%;
  }
  .ox3xql34 {
    font-size: var(--fq6jnzh);
  }
  .ox3xql36 {
    font-size: var(--fq6jnzi);
  }
  .ox3xql38 {
    font-size: var(--fq6jnzj);
  }
  .ox3xql3a {
    font-size: var(--fq6jnzk);
  }
  .ox3xql3c {
    font-size: var(--fq6jnzl);
  }
  .ox3xql3e {
    text-align: left;
  }
  .ox3xql3g {
    text-align: center;
  }
}
._1r5der0 {
  border-width: 1px;
  border-color: var(--fq6jnze);
  background: var(--fq6jnzc);
  color: var(--fq6jnza);
  font-size: var(--fq6jnzj);
}
._1r5der0:hover {
  background-color: var(--fq6jnzc);
  color: var(--fq6jnz7);
  cursor: pointer;
}
._1r5der1 {
  padding: var(--fq6jnz0);
}
._1r5der2 {
  padding: var(--fq6jnz1);
}
._1r5der3 {
  padding: var(--fq6jnz2);
}
._1r5der4 {
  padding: var(--fq6jnz3);
}
._1r5der5 {
  background: transparent;
}
._1r5der6 {
  background: transparent;
  border: none;
}
._1qpqmui0 {
  display: flex;
}
._1qpqmui1 {
  flex-direction: row;
}
._1qpqmui2 {
  flex-direction: column;
}
._1qpqmui3 {
  width: 100%;
  color: var(--fq6jnz7);
  background-color: var(--fq6jnzc);
  border: none;
  font-size: var(--fq6jnzj);
}
._1qpqmui4 {
  flex-direction: row;
}
._1qpqmui5 {
  flex-direction: column;
}
.zrrjxj0 {
  display: flex;
}
.zrrjxj1 {
  flex-direction: row;
}
.zrrjxj2 {
  flex-direction: column;
}
.zrrjxj3 {
  width: 100%;
  height: 100%;
  color: var(--fq6jnz7);
  background-color: var(--fq6jnzc);
  border: none;
}
._1m09tkd0 {
  flex: 1;
  max-width: 300px;
  padding: var(--fq6jnz1) var(--fq6jnz0);
}
._4g50l40 {
  overflow: auto;
  max-height: 800px;
  max-width: 100%;
  color: var(--fq6jnz8);
}
._1fy3mjg0 {
  display: flex;
  flex-direction: column;
  min-width: 30px;
  background-color: var(--fq6jnzd);
}



